<h3>PDF Generation</h3>
<button type="button" (click)="generatePdf()">Generate PDF</button>

<br />
<br />
<h3>Counter value is {{ counter }}</h3>
<button type="button" (click)="incrementCounter()">increment counter</button>
<br />
<br />
<button type="button" (click)="decrementCounter()">decrement counter</button>
<br />
<br />
<h3>PDF generation using browsers built in html to pdf</h3>
<button type="button" (click)="generatePdfFromHtml()">
  Generate pdf from html
</button>
<br />
<br />
<h3>PDF generation complete from webworker</h3>
<button type="button" (click)="generatePdfCompleteFromWebWorker()">
  generate pdf complete from webworker
</button>
<br />
<br />
<h3>PDF generation webworker from API</h3>
<button type="button" (click)="generatePdfFromWebWorkerAPI()">
  generate pdf from webworker with API response
</button>

<br />
<br />
<h3>Downloading large file</h3>
<button type="button" (click)="downloadLargeFile()">Downloading large file</button>

<br />
<br />
<h3>Download File With Charts</h3>
<button type="button" (click)="downloadFileWithCharts()">Download file with charts</button>